<!--#######################################-->
<!-- Copyright (c) 2023  Dong Zhaorui.     -->
<!-- All rights reserved.                  -->
<!-- Author: Dong Zhaorui 847235539@qq.com -->
<!-- Date  : 2023-08-29                    -->
<!--#######################################-->

<launch>
    <arg name="sim" default="true" />
    <param name="/use_sim_time" value="$(arg sim)" />

    <node pkg="nodelet" type="nodelet" name="ground_filter_manager" args="manager"/>

    <node pkg="nodelet" type="nodelet" name="ground_filter" 
          args="standalone ground_filter_plugin/GroundFilterPlugin /ground_filter_manager"
          output="screen" >
        <param name="sensor_frame" value="velodyne" />
        <!-- sensor -->
        <param name="sensor_lines" value="16" />
        <param name="sensor_scans" value="1800" />
        <rosparam param="sensor_position">[0.0, 0.0, 0.0]</rosparam>
        <rosparam param="sensor_orientation">[1.0, 0.0, 0.0, 0.0]</rosparam>
        <!-- ground -->
        <param name="ground_angle_thread" value="0.15" />
        <param name="ground_height_range" value="5.0" />
        <param name="ground_height_const" value="0.65" />
        <param name="ground_height_factor" value="0.025" />
        <!-- subscribe -->
        <remap from="ground_filter/lidar_points" to="velodyne_points" />
        <!-- publish -->
        <remap from="ground_filter/ground_points" to="ground_points" />
        <remap from="ground_filter/obstacle_points" to="obstacle_points" />
    </node>
</launch>
